{% extends 'base.html' %}
{% block content %}

{% load static %}
<head>
    <style>
       
    /* Footer */
.footer-section {
  padding: 40px 20px;
  background-color: #000;
  color: white;
  text-align: center;
  margin-top: 40px;
}

.footer-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}
<!-- Add any additional custom styles here -->
    </style>
</head>

<h1 class="text-center">User Dashboard</h1>
<h2 class="mt-4">Your Bookings</h2>

<div class="row">
    {% for booking in bookings %}
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Booking ID: {{ booking.id }}</h5>
                <p class="card-text">Category: {{ booking.category.name }}</p>
                <p class="card-text">Status: {{ booking.status }}</p>
{% if booking.status == 'accepted' %}
    <a href="{% url 'chat' booking.id %}" class="btn btn-primary">Chat</a>
{% endif %}

            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-md-12">
        <p class="text-muted">No bookings found.</p>
    </div>
    {% endfor %}
</div>

<a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>


{% endblock %}
