{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <style>
       
    /* Footer */
.footer-section {
  padding: 40px 20px;
  background-color: #000;
  color: white;
  text-align: center;
  margin-top: 40px;
}

.footer-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}
<!-- Add any additional custom styles here -->
    </style>
</head>
<h2 class="text-center">Worker Dashboard</h2>
<h4 class="mt-4">Pending Bookings</h4>

{% for booking in pending_bookings %}
<div class="card mb-3">
    <div class="card-body">
        <p>Booking for: {{ booking.category }}</p>
        <p>User: {{ booking.user.username }}</p>
        <p>Location: {{ booking.user_location }}</p>
        <p><i class="fas fa-check-circle"></i> Status: {{ booking.status }}</p>
        <a href="{% url 'accept_booking' booking.id %}" class="btn btn-success">Accept</a>
        <a href="{% url 'decline_booking' booking.id %}" class="btn btn-danger">Decline</a>
    </div>
</div>
{% empty %}
<p class="text-muted">No pending bookings.</p>
{% endfor %}

<h4 class="mt-4">Accepted Bookings</h4>

{% for booking in accepted_bookings %}
<div class="card mb-3 border shadow">
    <div class="card-body">
        <p>Booking for: {{ booking.category }}</p>
        <p>User: {{ booking.user.username }}</p>
        <p>Location: {{ booking.user_location }}</p>
        <p><i class="fas fa-check-circle"></i> Status: {{ booking.status }}</p>
        <a href="{% url 'chat' booking.id %}" class="btn btn-info">Chat with User</a>
    </div>
</div>
{% empty %}
<p class="text-muted">No accepted bookings.</p>
{% endfor %}
{% endblock %}
