{% extends 'base.html' %}
{% block content %}
<head>
    <style>
       
    /* Footer */
.footer-section {
  padding: 40px 20px;
  background-color: #000;
  color: white;
  text-align: center;
  margin-top: 40px;
}

.footer-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}
<!-- Add any additional custom styles here -->
    </style>
</head>
<div class="card">
    <div class="card-body">
        <h2>Booking Status</h2>
        <p>Category: {{ booking.category }}</p>
        <p>Status: {{ booking.status }}</p>
        <p>Location: {{ booking.user_location }}</p>
        {% if booking.status == 'accepted' %}
            <a href="{% url 'chat' booking.id %}" class="btn btn-primary">Chat with Worker</a>
        {% endif %}
    </div>
</div>
{% endblock %}